body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #000000;
  color: #ffff00;
}

h1 {
  border: 1px solid #ff0000;
}

p {
  border: 1px solid #0000ff;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

